PORT=8080
MONGO_URI=mongodb://localhost:27017
MONGO_DATABASE=kontrata
GRAPHQL_PLAYGROUND=true
MAILER=console
# SMTP_HOST=localhost
# SMTP_PORT=587
# SMTP_USER=
# SMTP_PASSWORD=
# SMTP_FROM=
# ARGON2_TIME=2
# ARGON2_MEMORY=19456
# ARGON2_THREADS=1

